div {
    animation-name: popUp;
    animation-duration: 2s;
    width: 100%;
    bottom: 50px;
    position: fixed;
}

span {
    padding: 10px;
    background-color: var(--md-primary-foreground);
    border: solid var(--md-primary-background) 1px;
    color: var(--md-primary-background);
    border-radius: 10px;
}

p {
    margin: 0;
}

.btn-notification {
    background-color: var(--md-secondary-background);
    color: var(--md-primary-foreground);
    margin: 0 0 0 10px;
    padding: 0 5px;
}

.btn-notification:hover {
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: 1px 1px 5px 1px gray;
    animation: Vibrate 250ms 2;
}

@keyframes popUp {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(0);
    }
  }