:root {
    --md-primary-background: #6200EE;
    --md-secondary-background: #03DAC6;
    --md-primary-dark-background: #3700B3;
    --md-secondary-dark-background: #018786;
    --md-primary-foreground: #FFFFFF;
    --md-secondary-foreground: #495057;
}

@font-face {
    font-family: Roboto;
    src: url('src/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Indie Flower;
    src: url('src/assets/fonts/Indie_Flower/IndieFlower-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

app-root {
    height: 100%;
}

app-main {
    height: 100%;
}

#app-background {
    height: 100%;
    width: 100%;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    opacity: 0.75;
}

.hideScreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
}

ul > li:first-of-type > a {
    border-top-left-radius: 20px !important;
}

div.bs-remove-tab {
    display: initial;
    border-radius: 50%;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

.btn-tab, .btn-tab:focus {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 50%;
    color: gray;
    width: 26px;
    height: 26px;
    margin: auto 2px;
}

.btn-tab:hover {
    background: rgba(200, 200, 200, 0.5);
}

.tab-content {
    overflow-y: scroll;
}

.tab-content::-webkit-scrollbar {
    display: none;
}

app-title-bar {
    position: absolute;
    width: 100%;
    z-index: 1;
}

a, input, select {
    color: var(--md-secondary-foreground);
    font-family: 'Roboto', cursive;
}

a.nav-link.active > span {
    color: var(--md-primary-dark-background);
    font-family: 'Roboto', cursive;
}

label, a:hover {
    color: var(--md-primary-dark-background);
    font-family: 'Roboto', cursive;
}

input::selection {
    background-color: var(--md-primary-background);
    color: var(--md-primary-foreground);
}